*{
    padding: 0;
    margin: 0;
}


.body{
    height: 100vh;
    background: linear-gradient(
    to right,
    rgb(0, 208, 255) 0%,
    rgb(0, 208, 255) 52%,
    #3940ff 52%,
    #3940ff 100%);
    border: 30px solid rgb(4, 0, 255);
}
.form{
    margin-left: 100px;}
.titel{
    margin-left: 100px;
    margin-top: 40px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;}
.text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;}
.anka{
  display: flex;
  justify-content: center;
}