.body{
    display: flex;
    justify-content: start;
    height: 100vh;
    font-family: "Raleway", sans-serif;
    background: linear-gradient(
    to right,
    rgb(0, 208, 255) 0%,
    rgb(0, 208, 255) 52%,
    #3940ff 52%,
    #3940ff 100%);
    border: 30px solid rgb(4, 0, 255);
}

.form{
    display: flex;
    flex-direction: column;
    width: 23%;
    margin-left: 180px;}
    

.titel{
    margin-top: 100px;
    margin-left: 200px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;}

.h2{
    width: 680px;
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    font-style: normal;
    margin-bottom: 30px;}

.text{
    width: 500px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin-left: 73px
}

.middle{
    margin-left: 182px;
}

.label{
    margin-left: 10px;
}

.fråga-1{
    font-family: "Raleway", sans-serif;
    font-weight: 600; 
    font-size: large; 
}

.fråga-2{
    font-family: "Raleway", sans-serif;
    font-weight: 600; 
    font-size: 20px;
    margin-top: 24px;
    margin-left: 126px;
    width: 450px; 
} 

.fråga-3{ 
    font-family: "Raleway", sans-serif;
    font-weight: 600; 
    font-size: large;
    margin-top: 10px;
    justify-content: center;
    margin-left: 170px;
}

.skickaknapp{
    background-color: #ffffff;
    color: #173A56; 
    border-color: #BCD0E5;
    border-style: solid;
    border-radius: 5px;
    width: 102px; 
    height: 46px; 
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    width: 90px;
    margin-left: 100px;
}

.skickaknapp:hover {
    text-decoration: underline;
    background-color: rgba(77, 142, 255, 0.514);
}

.end{
    display: flex;
    justify-content: center;
}