*{
    padding: 0;
    margin: 0;
}


.body{
    display: flexbox;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
    to right,
    rgb(0, 208, 255) 0%,
    rgb(0, 208, 255) 52%,
    #3940ff 52%,
    #3940ff 100%);
    border: 30px solid rgb(4, 0, 255);
}
.form{
    width: 23%;
    flex-direction: column;
    justify-self: 60px;
    justify-content: 100px;
    justify-items: 140px;}
    

.titel{
    margin-left: 100px;
    margin-top: 40px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;}

.h2{
    width: 500px;
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    font-style: normal;
    margin-left: 100px}
  
.text{
    width: 500px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 100px}

.skickaknapp{
    background-color: #ffffff;
    color: #173A56; 
    border-color: #BCD0E5;
    border-style: solid;
    border-radius: 5px;
    width: 102px; 
    height: 46px; 
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    width: 90px;
    margin-left: 100px;

}   
.skickaknapp:hover {
    text-decoration: underline;
    background-color: rgba(77, 142, 255, 0.514);
}
.anka{
    display: flex;
    justify-content: center;
}